  <footer class="footer main-footer">
    <p class="text-muted">
      <!-- Link trigger modal -->
      <!-- <a data-toggle="modal" data-target="#myModal1">Privacy and Transparency Policy</a> -->
      <a href="{{% site}}/policy.html" class="popup2">Privacy and Transparency Policy</a>
    </p>
    <p class="text-muted">
      © Data Transparency Lab 2015
    </p>
    <script type="text/javascript">
      jQuery(document).ready(function () {
        jQuery('.menu a').click(function(){
          var match = jQuery(this).attr('href').match(/#\S+/);
          ga('send', 'pageview', location.pathname + match[0]);
        });
      });
    </script>
  </footer>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik-piwikdtl.rhcloud.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik-piwikdtl.rhcloud.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

