<head>
  <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
  <!--<title>{{ page.title }} - {{ site.description }}</title>-->
  <!--<link rel="icon" href="{{ site.baseurl}}/images/favicon.ico" type="image/x-icon">-->
  <!--<link rel="image_src" href="{{ site.baseurl}}/images/dtl1-sm.png">-->

  <link rel="stylesheet" href="style/bootstrap-table.css">
  <link rel="stylesheet" href="style/bootstrap.min.css">
  <link href='style/jquery-ui-1.8.16.custom.css' rel='stylesheet' type='text/css'>
  <link href='style/d3-tip.css' rel='stylesheet' type='text/css'>
  <link href='style/main.css' rel='stylesheet' type='text/css'>

  <script src="script/jquery-2.2.1.min.js"></script>
  <script src="script/d3.min.js"></script>
  <script src="script/bootstrap.min.js"></script>
  <script src="script/bootstrap-table.js"></script>
  <script src="script/d3-tip.js"></script>

  <script src="script/Bipartite.js"></script>
  <script src="script/ReconParser.js"></script>
  <script src="script/ReconUI.js"></script>
  <script src="script/DataTable.js"></script>
  <script src="script/DomainTable.js"></script>
  <script src="script/AppTable.js"></script>
  <script src="script/CategoryTable.js"></script>

</head>
