
  <nav class="navbar navbar-default navbar-static-top nav-bar-inverse">
    <div class="container-fluid" style="padding-right: 50px;">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://datatransparencylab.org">
          <img src="images/dtl1-sm.png"
               style="margin-top:-10px;" height="31px" width="100px">
        </a>
      </div>
      <p class="navbar-text navbar-right"><a href="tool.html" class="navbar-link">The tool</a></p>
      <p class="navbar-text navbar-right"><a href="examples.html" class="navbar-link">Visualization Examples</a></p>
      <p class="navbar-text navbar-right"><a href="index.html" class="navbar-link">About Recon</a></p>
    </div>
   </nav>
